@mixin  font ($font-size){
    font-family: 'Roboto', sans-serif;
    font-size: $font-size;
    color: #444;
}

$grape: #480090;
$blue: #5c92f4;
$orange: #ED5C0D;
$yellow: #FDC915;
$cream: #FDFDFD;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;