html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #FDFDFD;
  display: flex;
  z-index: 0;
}

#aside {
  display: block;
  background-color: #FDC915;
  width: 95px;
  height: 100%;
  top: 0px;
  position: fixed;
  background-color: #FDC915;
}
#aside .logo a {
  background-color: #FDFDFD;
}
#aside nav .types .type {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: #444;
  background-color: #FDC915;
  list-style: none;
  padding: 30px 0px;
  border-bottom: 2px #FDFDFD solid;
}
#aside nav .types .type:hover {
  transition: 0.3s;
  background-color: #ED5C0D;
}
#aside nav .types .type a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #FDFDFD;
}
#aside nav .types .type a i {
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;
}

::placeholder {
  color: #FDFDFD;
}

.container {
  width: calc(100%-95px);
}
.container header {
  position: fixed;
  left: 95px;
  width: 100%;
}
.container header .first-mob #searchInput {
  font-size: 18px;
  width: 96%;
  background-color: #FDC915;
  text-decoration: none;
  border: none;
  color: #FDFDFD;
  box-sizing: content-box;
  padding: 15px 25px;
  height: 49px;
}
.container header .first-mob #searchInput:focus {
  outline-width: 0;
}
.container header .first-mob .burger-button {
  display: none;
}
.container section {
  margin-left: 95px;
  display: block;
  padding-top: 79px;
}
.container section .main-banner .img-banner {
  width: 100%;
}
.container section .main-banner .removeBanner {
  display: none;
}
.container section .main-banner h1 {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #444;
}
.container section .categoryMovies {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container section .categoryMovies .movieResume {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 15%;
}
.container section .categoryMovies .movieResume:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  transition: 0.3s;
  background-color: white;
}
.container section .categoryMovies .movieDivTitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #444;
  padding: 2px;
  text-transform: uppercase;
  color: #ED5C0D;
  font-weight: bold;
  display: flex;
}
.container section .categoryMovies .movieDivLink {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #444;
  padding: 5px;
  text-transform: uppercase;
  color: #ED5C0D;
}
.container section .categoryMovies .movieDivLink:hover {
  color: #5c92f4;
  transition: 0.3s;
}
.container section .categoryMovies .movieTitle {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #444;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ED5C0D;
}
.container section .categoryMovies .movieImage {
  display: block;
  max-width: 100%;
  height: auto;
}

#modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#modalContainer #modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.322);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modalContainer #modalBackground #modal {
  width: 45%;
}
#modalContainer #modalBackground #modal #upperModal {
  background-color: #FDC915;
  padding: 2%;
}
#modalContainer #modalBackground #modal #upperModal a {
  float: right;
  color: #FDFDFD;
}
#modalContainer #modalBackground #modal #upperModal h2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #444;
  color: #ED5C0D;
}
#modalContainer #modalBackground #modal #upperModal #img-modal {
  width: 150px;
}
#modalContainer #modalBackground #modal #lowerModal {
  background-color: #ED5C0D;
  padding: 2%;
}
#modalContainer #modalBackground #modal #lowerModal .movieDetails {
  margin-right: 5%;
}
#modalContainer #modalBackground #modal #lowerModal .movieDetails .modalTitle {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #444;
  color: #FDC915;
}
#modalContainer #modalBackground #modal #lowerModal .movieDetails p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #444;
  color: #FDFDFD;
}

#search-results {
  display: flex;
  flex-direction: column;
  background-color: #FDFDFD;
}
#search-results .result {
  color: #ED5C0D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 2px;
  font-size: 15px;
}
#search-results .result:hover {
  color: #5c92f4;
  font-size: 20px;
  transition: 0.3s;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
#buttonDiv .buttonLoadMore {
  padding: 25px 60px;
  font-size: 18px;
  border: 1px solid #ED5C0D;
  border-radius: 0.25rem;
  color: #ED5C0D;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
#buttonDiv .buttonLoadMore:hover {
  color: #fff;
  background-color: #ED5C0D;
}

@media (max-width: 768px) {
  .container section .categoryMovies .movieResume {
    margin: 0;
    width: 30%;
  }
  .container section .categoryMovies .movieResume:hover {
    -webkit-transform: inherit;
    transform: inherit;
  }
}
@media (max-width: 400px) {
  #buttonDiv, #aside {
    display: none;
  }

  .container header .first-mob #searchInput {
    height: 20px;
    width: 80%;
    font-size: 12px;
  }

  .logo {
    display: none;
  }

  #aside {
    width: 100%;
    height: inherit;
  }

  #aside nav {
    margin-top: 45px;
  }

  .img-banner {
    display: none;
  }

  .first-mob {
    display: flex;
  }

  .container section {
    padding: 0;
    margin: 0;
  }

  .container header {
    left: 0;
  }

  .categoryMovies {
    display: flex;
    flex-direction: column;
  }

  .container section .categoryMovies .movieResume {
    margin: 0;
    width: 80%;
  }
  .container section .categoryMovies .movieResume:hover {
    -webkit-transform: inherit;
    transform: inherit;
  }

  .container header .first-mob .burger-button {
    align-items: center;
    color: #ED5C0D;
    display: flex;
    width: 10%;
    justify-content: center;
    background-color: #FDFDFD;
  }

  #search-results .result {
    font-size: 12px;
  }
  #search-results .result:hover {
    font-size: 12px;
  }

  #aside nav .types .type {
    padding: 10px 0px;
    background-color: #ED5C0D;
  }

  #modalContainer #modalBackground #modal #upperModal #img-modal {
    display: none;
  }

  #modalContainer #modalBackground #modal {
    width: 85%;
  }
}

/*# sourceMappingURL=styles.css.map */
