@import "_reset.scss";
@import "_mixin.scss";

body{
    margin: 0;
    background-color: pink;
   display: flex;
    
}

aside{
  
    display:block;
    background-color: white;
    width: 95px;
    top: 0px;
    .logo a .logoimg{
        width: 35px;
        padding: 18px 30px;  
        background-color: black;
     
    }
    nav{
        
        
        .types{
            .type{
            /* margin: 0px;
            padding: 0px; */
            @include font(10px);
            text-decoration: none;
            color: gray;            
            width: 35px;
            background-color: white;
            list-style: none;
            padding: 25px 30px;
            border-bottom: 1px gray solid;                
                 
            
                    }
                }
                
            }
        }
    
.container{
    width: calc(100%-95px);
    header {
  
        position: fixed;
        width: 100%;
        .searchInput {
            &:focus {
                outline-width: 0;
            }
            font-size: 18px;
            width: 100%;
            background-color:white;
            text-decoration: none;
            border: none;
            color: black;
            box-sizing: content-box;
            padding: 15px 25px;
            height: 46px;
            
        }
    
    }
    section{
        .img-banner{
            background-image: url("images/banner-popcorn.jpg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            width: calc(100%-95px);
            height: 50%; 
        }
        .popularMovies{
            display: flex;
            flex-wrap: wrap;
            .movieResume{
                display: flex;
                flex-direction: column;
                padding: 5px;
                width: 15%
                }
            
            .movieTitle{
                @include font(12px);
                    }
            .movieImage{
                    display: block;
                    max-width: 100%;
                    height: auto;
                    }
            }
    }
}

