@import "_reset.scss";
@import "_mixin.scss";

body{
    margin: 0;
    background-color: pink;
   display: flex;
}

aside{
    
    display:block;
    background-color: white;
    width: 95px;
    top: 0px;
    .logo a .logoimg{
        width: 35px;
        padding: 18px 30px;  
        background-color: black;

     
    }
    nav{
        position: fixed;
        
        .types{
            .type{
            @include font(10px);
            text-decoration: none;
            color: gray;            
            width: 35px;
            background-color: white;
            list-style: none;
            padding: 25px 30px;
            border-bottom: 1px gray solid;                
                 
            
                    }
                }
                
            }
        }
    
.container{
    width: calc(100%-95px);
    header {          
        width: 100%;
        #searchInput {
            &:focus {
                outline-width: 0;
            }
            position: fixed;
            font-size: 18px;
            width: 100%;
            background-color:white;
            text-decoration: none;
            border: none;
            color: black;
            box-sizing: content-box;
            padding: 15px 25px;
            height: 46px;
            
        }
    
    }
    section{
        margin-top: 76px;
        display: block;
        .main-banner{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 500px;
            background: no-repeat center ;
            background-size: cover; 
            position: relative;
            text-align: center;
            .img-banner{
                height: 100%;
                width: 100%;
            }
            h1{
                position: absolute;
               
                @include font(30px);
                
            }
        }
        .popularMovies{
            padding: 15px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .movieResume{
                display: flex;
                flex-direction: column;
                padding: 5px;
                width: 15%
                }
            
            .movieTitle{
                @include font(12px);
                padding: 5px;
                text-transform: uppercase;
                    }
            .movieImage{
                    display: block;
                    max-width: 100%;
                    height: auto;

                    &:hover{
                        max-width: 104%;
                        transition: 0.4s;
                    }
                    }
            }
    }
}

